#image {
    
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    font-family: Helvetica;
}

body {
    background-color: #EEEEEE;
}

#img-caption {
    text-align: center;
    font-family: Helvetica;
    padding: 10px 10px;
}

#img-div {
    background-color: white;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    padding-top: 5px;
}

#tribute-info {
    font-size: 15px;
    text-align: center;
    font-family: Helvetica;
}

.italics {
    font-family: Helvetica;
    max-width: 500px;
    font-style: italic;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 600;
}

p:not(#tribute-info, .italics) {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 40px;
}


 .bold {
    font-weight: 600;
 }
 
 #timeline {
    
    font-family: Helvetica;
 }
 
 #timeline ul {
    list-style-position: inside; /* Center-align the bullet points */
    text-align: left;
    margin-left: center;
    
    margin-left: 30%; /* Reset text alignment for the list content */
 }
 
 #timeline li {
    margin-bottom: 15px;
 }
 
 .bold {
    font-weight: bold;
 }
 
 .divider {
    border-bottom: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }